htm, body {
  margin: 0;
  padding: 0;
  font-family: $font;
  background: url(/img/bg.png) repeat;
}



h1, h2, h3, h4 {
  font-family: $heading-font;
}

h2 {
  font-size: 1.5rem;
}

header {
  width: 100%;
  height: 180px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background: url(/img/header2.png) no-repeat;
  background-size: 100%
}

#app {
  margin-top: 200px;
  width: 100%;
}

.app {
  width: 100%;

}

// Animation of react Component

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: all 500ms ease-in;
}
