.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  transition: all .5s;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  width: 500px;
  min-height: 400px;
  position: fixed;
  background-color: $white;
  border: 2px solid $primary-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;

  form {
    margin: 10px;
  }

  .controls {
    text-align: center;
    width: 50%;
    margin: 20px auto;
  }

  .helper-text {
    font-size: .8rem;
    opacity: .8;
  }
}

.appear {
  animation: content_appear .5s;
}

.disappear {
  animation: content_disappear .5s;
}

@keyframes content_appear {
  0% {
    top: -50%;
  }
  100% {
    top: 50%;
  }
}

@keyframes content_disappear {
  0% {
    top: 50%;
  }
  100% {
    top: -50%;
  }
}

.bg-appear {
  animation: bg_appear .5s;
}

.bg-disappear {
  animation: bg_disappear .5s;
}


@keyframes bg_appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}

@keyframes bg_disappear {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}
