.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  transition: all .5s;
}

.modal-bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .3;
  position: relative;
  top: 0;
  left: 0;
  filter: blur(5px) grayscale(50%);

}

.modal-content {
  width: 500px;
  height: 500px;
  position: fixed;
  background-color: $white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
}

// Animation of react Component

.modal-enter {
  opacity: 0.01;
}

.modal-enter.modal-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}


.modal-leave {
  opacity: 1;
}

.modal-leave.example-leave-active {
  opacity: 0.01;
  transition: all 500ms ease-in;
}
